@import 'base/reset';
@import 'base/fonts';
@import 'base/variables';

@import 'css/quill.core';
@import 'css/quill.snow';
//@import 'css/quill.bubble';

@import 'partials/messages';
@import 'partials/paginate';

body {
    font-family: $lato;
    background: url('assets/bg.jpg')
}

.linha {
    width: 100%;
    margin: 0 0 25px;
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background: $cinza-mais-claro;
        border: 1px solid $cinza-claro;
        border-radius: 5px;
        box-shadow: 2px 2px 2px $sombra;
        position: relative;
        @media #{$mobile} {
            width: 90%;
        }
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

h2 {
    font-family: 'Courgette';
    font-size: 2.5em;
    margin: 0 0 25px;
    color: darken($texto, 10%);
}

@import 'partials/menu';
@import 'partials/categorias';
@import 'partials/post_list';
@import 'partials/posts';
@import 'partials/form_post';